Cybergram.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Cybergram.xcodeproj/xcuserdata/andreasmaerki.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Cybergram/Services/GoogleService-Info.plist
